{% extends "header.html" %}
{% block content %}
    <div class="container">
<!--d = {'paid': 0, 'internet': 0, 'higher':0,'famsup':0,'famsize':2,'goout':1,'activities':0,'schoolsup':0,'romantic':1,'Pstatus':1,'address':1}-->
    <div class="justify-content-center">
      <h3 class="text-center"> Votre étudiant va t'il avoir son Bac ? </h3>
    </div>
    <hr class="w-75 mt-0 bg-info">
    <br>
    <form action = "/prediction" method = "POST">


            <div class="col-md-8">
              <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" class="form-check-input" name="paid" value="1" />
                    <input type="hidden" name="paid" value=0 />
                    L'étudiant paie des extra cours
                </label>
              </div>
            </div>

            <div class="col-md-8">
                <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="internet" value=1 />
                    <input type="hidden" name="internet" value=0 />
                    L'étudiant a accès a internet
                </label>
              </div>
            </div>


            <div class="col-md-8">
                <div class="form-check-inline">
                <label class="checkbox-inline">
                <input type="checkbox" name="higher" value=1 />
                <input type="hidden" name="higher" value=0 />
                    L'étudiant souhaite continuer ses études
                </label>
              </div>
            </div>

            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input type="checkbox" name="famsup" value=1 />
                    <input type="hidden" name="famsup" value=0 />
                    Support de sa famille pour l'education
                </label>
            </div>


        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="famsize" value=1 />
                    <input type="hidden" name="famsize" value=0 />
                    Taille de la famille suppérieur à 3
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="goout" value=1 />
                    <input type="hidden" name="goout" value=0 />
                    Sort avec des amies
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="activities" value=1 />
                    <input type="hidden" name="activities" value=0 />
                    Activités extra-scolaire
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="schoolsup" value=1 />
                    <input type="hidden" name="schoolsup" value=0 />
                    Support cours extra-scolaire
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="romantic" value=1 />
                    <input type="hidden" name="romantic" value=0 />
                    En couple
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="Pstatus" value=1 />
                    <input type="hidden" name="Pstatus" value=0 />
                    Parents divorcés
                </label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-check-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" name="address" value=1 />
                    <input type="hidden" name="address" value=0 />
                    Etudiant vivant en ville
                </label>
            </div>
        </div>

                    <input type = "submit" value = "submit" class="btn btn-info" />
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

{% endblock %}