{% extends "header.html" %}
{% block content %}
    <div class="container">

    <div class="justify-content-center">
      <h1 class="text-center"> Resultats du modèle </h1>
    </div>
    <hr class="w-75 mt-0 bg-info">
    <br>
    <form action="/">
        <p> {{ message }}</p>
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <button class="btn btn-info"> Retour </button>
                </div>
            </div>
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

{% endblock %}