{% extends "header.html" %}
{% block content %}
    <div class="container">

    <div class="justify-content-center">
      <h1 class="text-center"> Upload CSV à entrainer </h1>
    </div>
    <hr class="w-75 mt-0 bg-info">
    <br>
    <form action = "/uptrain" method = "POST" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <input type="file" name="file[]" multiple="">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <input type="submit" class="btn btn-info" value="upload"> Entrainer le CSV </input>
                </div>
            </div>
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

{% endblock %}